@font-face {
   font-family: 'Special Elite';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/stefangrage/Documents/skrivebord-april-2021/skudtfrahoften.dk/fonts/Special Elite/regular.ttf') format('truetype');
}
